* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: rgba(128, 128, 128, 0.753);
  color: white;
}
header {
  text-align: center;
  margin-top: 30px;
}
header > h1 {
  font-size: 3.5rem;
}
header > h2 {
  margin-top: 20px;
  font-size: 1.7rem;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container > h3 {
  font-size: 2.1rem;
  margin-bottom: 15px;
}
.container > p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.container > button {
  padding: 5px;
  border-radius: 5px;
  font-size: 1.3rem;
  border: 1px solid red;
  margin-bottom: 10px;
}
.atributosBtn {
  margin: 20px;
}

.atributoBtn {
  font-size: 1.3rem;
}
input {
  margin: 10px 10px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 20px;
  max-height: 410px;
}

.card-image {
  height: 400px;
}
.carta-subtitle {
  display: inline-flex;
  position: relative;
  color: black;
  font-size: 1.3rem;
}
.carta-subtitle.-diff1,
.carta-subtitle.-diff2 {
  top: -383px;
  left: 95px;
}
#carta-jogador,
#carta-maquina {
  max-width: 300px;
}
.optionsCards {
  position: relative;
  top: -178px;
  left: 30px;
}
.optionsCardsMaquina {
  position: relative;
  font-size: 1rem;
  top: -172px;
  left: 40px;
}

.resultado {
  font-size: 2rem;
  margin-top: 15px;
  background-color: black;
  color: white;
  width: 650px;
  text-align: center;
  padding: 15px;
}
@media (max-width: 678px) {
  .wrapper {
    flex-direction: column;
    max-height: 610px;
  }
  .card-image {
    height: 250px;
  }
  .container {
    margin: 10px;
  }
  main {
    margin: 5px;
  }
  .carta-subtitle.-diff1,
  .carta-subtitle.-diff2 {
    top: -224px;
    left: -130px;
    font-size: 1rem;
  }
  .optionsCards {
    left: 23px;
    top: -106px;
    font-size: 0.7rem;
  }
  .optionsCardsMaquina {
    position: relative;
    font-size: 0.7rem;
    top: -95px;
    left: 22px;
  }
  input {
    width: 7px;
    margin: 7px 10px;
  }
  .resultado {
    max-width: 200px;
  }
}
